.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width:100%;
  resize: vertical;
  padding:5px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
}
button {
  display: inline-block;
  width: 5em;
  height: 1.75em;
  line-height: 0em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: rgb(0,0,0);
  outline: none;
  border: 1px solid rgba(0,0,0,.4);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 2px;
  background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
  box-shadow:
    0 0 3px rgba(0,0,0,0) inset,
    0 1px 1px 1px rgba(255,255,255,.2),
    0 -1px 1px 1px rgba(0,0,0,0);
  transition: .2s ease-in-out;
  //border: none;
  //background: red;
  //color: white;
}
main{
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
section{
  width: 20vw;
  overflow-y: scroll;
}
.custom-chart-1 {
  height: 95vh;
  width: 70vw;
}
.custom-table {
  width: 30vw;
}
.is-clicked {
  color: white;
  background: #103C8B;
}
.mat-table {
  width: 100%;
}
